.section-module--hero {
    background: linear-gradient(#29334C, #05132E);
    padding-top: 10rem;
    position: 'relative',
}

.background-module--background {
    background-position: 50%;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.background-module--hero:before {
    background: #1E1E1E;
    filter: blur(87px);
    left: 15%;
    margin: -229.5px 0 0 -229.5px;
    top: 300px;
    width: 459px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

.background-module--hero:after {
    background: #1E1E1E;
    filter: blur(130.611px);
    left: 99%;
    margin: -293.5px 0 0 -293.5px;
    top: 450px;
    width: 587px;
}

.background-module--hero:after,
.background-module--hero:before {
    aspect-ratio: 1/1;
    border-radius: 100%;
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

.background-module--hero div {
    aspect-ratio: 1/1;
    background: #1E1E1E;
    border-radius: 100%;
    content: "";
    filter: blur(72px);
    left: 50%;
    margin: -219px 0 0 -219px;
    pointer-events: none;
    position: absolute;
    top: 750px;
    transform: translateZ(0);
    width: 438px;
    z-index: 2;
}

.hero-title-module--title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -.5px;
    line-height: 67px;
    margin-bottom: 24px;
    color: white;
    text-align: left;
    font-family: Lato;
    min-width: '1366px';
}

.hero-text-module--text {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 40px;
    opacity: .68;
    text-align: center;
    color: white;
    text-align: left;
}

.text-white {
    color: white !important;
    text-decoration: none;
}

.link-button-loan--button {
    align-items: center;
    border: none;
    cursor: pointer;
/*     display: inline-flex; */
    font-size: 16px;
    font-weight: 700;
    gap: .75rem;
    height: 48px;
    width: 150px;
    justify-content: center;
    letter-spacing: .1px;
    line-height: 24px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
    white-space: nowrap;
    background: linear-gradient(257.25deg, #EBD259 4.97%, #DBB346 89.06%);
    border-radius: 3px;
}

.link-button-lend--button {
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    gap: .75rem;
    height: 48px;
    width: 150px;
    justify-content: center;
    letter-spacing: .1px;
    line-height: 24px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
    white-space: nowrap;
    border-radius: 3px;
}

:root {
    --color-text: navy;
    --color-bg: papayawhip;
    --color-bg-accent: #ecdcc0;
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: papayawhip;
        --color-bg: navy;
        --color-bg-accent: #2626a0;
    }
}

.marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    mask-image: linear-gradient(var(--mask-direction, to right),
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0));
}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    .marquee__group {
        animation-play-state: paused;
    }
}

.marquee--vertical {
    --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
    flex-direction: column;
}

.marquee--vertical .marquee__group {
    animation-name: scroll-y;
}

.marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: -3s;
}

@keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }

    to {
        transform: translateX(var(--scroll-end));
    }
}

@keyframes scroll-y {
    from {
        transform: translateY(var(--scroll-start));
    }

    to {
        transform: translateY(var(--scroll-end));
    }
}

/* Element styles */
.marquee img {
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    object-fit: cover;
    border-block: 3px solid dodgerblue;
}

.marquee--vertical svg {
    aspect-ratio: 1;
    width: calc(var(--size) / 1.5);
    padding: calc(var(--size) / 6);
}

@keyframes fade {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
