.background-module--background {
    background-position: 50%;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.background-module--testimonials:after,
.background-module--testimonials:before {
    aspect-ratio: 1/1;
    border-radius: 100%;
    content: "";
    pointer-events: none;
    position: absolute;
    transform: translateZ(0);
    z-index: 2;
}

.background-module--testimonials:before {
    background: rgba(203, 43, 131, .12);
    bottom: 1%;
    filter: blur(87px);
    left: 20%;
    margin: -229.5px 0 0 -229.5px;
    width: 459px;
}

.background-module--testimonials:after {
    background: rgba(126, 91, 214, .29);
    bottom: -10%;
    filter: blur(130.611px);
    left: 90%;
    margin: -383px 0 0 -383px;
    width: 766px;
}

.background-module--testimonials:after,
.background-module--testimonials:before {
    aspect-ratio: 1/1;
    border-radius: 100%;
    content: "";
    pointer-events: none;
    position: absolute;
    transform: translateZ(0);
    z-index: 2;
}

.background-module--testimonials div {
    aspect-ratio: 1/1;
    background: rgba(0, 163, 208, .14);
    border-radius: 100%;
    bottom: 40%;
    content: "";
    filter: blur(72px);
    left: 48%;
    margin: -219px 0 0 -219px;
    pointer-events: none;
    position: absolute;
    transform: translateZ(0);
    width: 438px;
    z-index: 2;
}